.HomeScreen {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
}

#HomeScreen__card {
	background-color: rgba(255, 255, 255, 0.15);
	border: none;
	padding: 15px;
}
